bench/
build_*/
TODO.txt
olddesc.txt
oldprocessTests.py
shortdesc.txt
TestScripts/__pycache__/
FullBenchmark/
Output/
GeneratedInclude/
GeneratedSource/
*.db
TestDesc.txt
currentConfig.csv
test.txt
__pycache__
bugcheck.py
fulltests/
testUNIXrunConfig.yaml
